<%layout("/layouts/boilerplate")%>
<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
    }
    .filter {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
}
    .filter p{
        font-size: 0.8rem;
    }
</style>
    <div id="filters">

     <a href="/listings?category=trending" class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
         <p>Trending</p>
     </a>

      <a href="/listings?category=rooms" class="filter">
         <div><i class="fa-solid fa-bed"></i></div>
         <p>Rooms</p>
        </a>

        <a href="/listings?category=iconic" class="filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </a>

        <a href="/listings?category=mountains" class="filter">
         <div><i class="fa-solid fa-mountain"></i></div>
         <p>Mountains</p>
        </a>

        <a href="/listings?category=castles" class="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
         <p>Castles</p>
        </a>

        <a href="/listings?category=pools" class="filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
         <p>Amazing pools</p>
        </a>

       <a href="/listings?category=camping" class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </a>

        <a href="/listings?category=farms" class="filter">
         <div><i class="fa-solid fa-cow"></i></div>
         <p>Farms</p>
        </a>
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
         <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
         <label class="form-check-label" for="switchCheckDefault">Display total after Taxes</label>
        </div>
      </div>
    </div>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){%>
        <a href="/listings/<%=listing._id%>" class="listing-link">
         <div class="card col listing-card">
             <img src="<%-listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem"/>
             <div class="card-img-overlay"></div>
             <div class="card-body">  
                  <p class="card-text">
                     <b><%= listing.title%></b><br/>
                     &#8377;<%= listing.price.toLocaleString("en-IN")%>/night
                     <i id="tax-info"> &nbsp; &nbsp;+18%GST</i>
                   </p>
                </div>
           </div>
         <%}%>
        </a>
</div>

<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click",()=>{})
</script>